<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Bamazon</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Bamazom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">


            </ul>
            <form class="form-inline my-3 my-lg-0" action="" method="" id="myform">
               
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search" name="name" aria-describedby="search">
                
 

                <button class="btn btn-outline-success my-2 my-sm-0 btn-form" type="submit">Search</button>


        </div>
        </form>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-2 bg-dark nav-dark">
            <div class="side_menu">
                <ul>
                    <li class="text-white">Shop by Department</li>
                    <li><button type="button" onclick="location.href='/department?name=Electronics'" data-val="Electronics" class="dpt btn btn-dark">Electronics</button></li>
                    <li><button type="button" onclick="location.href='/department?name=Games'"  data-val="Games"  class="dpt btn btn-dark">Games</button></li>
                    <li><button type="button" onclick="location.href='/department?name=Computers'"  data-val="Computers"  class="dpt btn btn-dark">Computers</button></li>
                    <li><button type="button" onclick="location.href='/department?name=Console'"  data-val="Console"  class="dpt btn btn-dark">Console</button></li>

                </ul>
                <br>
                <br>
                <div class="accordion " id="accordionExample">
                    
                    <div class="card nav-dark bg-dark">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    Shopping Cart
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                    <ul>
                                            <li><button type="button" class="btn btn-dark text-center">View</button></li>
                                            <li><button type="button" class="btn btn-dark text-center">Clear</button></li>
        
                                    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card nav-dark bg-dark">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                    Links
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Links will go here
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="display_page">
                <div class="row align-items-center">
                    <div class="col-">
                    
                   
                      <%for (var i = 0 ; i < items.length;i++){%>
                      <div class="card">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4><%= items[i].product_name %></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="" src="<%= items[i].picture_link %>">
                                    <p class="card-text"><%= items[i].product_description %></p>
                                    <p>Price: $ <%= items[i].price %></p>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" class="btn btn-primary">Add To Cart</a>
                                </div>
                            </div>

                        </div> 
                        
                      <% } %>
                      
                      

                    </div>

                </div>

            </div>

        </div>


</body>
<script>

$(document).ready(function () {

$("#search").attr("placeholder" ,"<%= err %>");

})


$('body').on("click", ".btn-form" , function(e){
  
    $("#myform").attr("action", "/searchresults");
    jQuery.get('/searchresults',"?"+ $("#myform").serialize(), function (data) {
 	    // console.log($("#myform").serialize()) //data is the response from the backend
    });  


})
$('body').on("click", ".dpt" , function(e){
  
   console.log("name="+ $(this).data("val"));
    jQuery.get('/department', "name="+ $(this).data("val"), function (data) {
 	    // console.log($("#myform").serialize()) //data is the response from the backend
    });  


})



</script>
</html>